html {
  /* overflow: scroll; */

}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#root {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: 1px solid transparent;
  background-image: url('./assets/shadow.png'), url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
p,
button,
a {
  margin: 0;
  padding: 0;
}
