.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
    grid-area: h;
    background-color: rgba(180, 225, 122, .8);
}
.header img {
    width: 60px;
}

.nav {
    grid-area: n;
    background-color: orange;
}

.content {
    grid-area: c;
    background-color: #ededed;
}
.content img {
    width: 100%;
}
.content-head img {
    width: 150px;
}
