body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.block {
  border: 1px solid #fff;
}

.btn {
  width: 100px;
}
hr {
   border: none;
   /* Убираем границу для браузера Firefox */
   color: #fff;
   /* Цвет линии для остальных браузеров */
   background-color: #fff;
   /* Цвет линии для браузера Firefox и Opera */
   height: 1px;
   /* Толщина линии */
}
